<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Like page</title>
</head>
<body>
    <main class="min-h-screen w-full p-4 grid grid-cols-1 md:grid-cols-2 gap-6">



    </main>
</body>
</html>