
<div class="h-140 w-full">
  <main class="h-full w-full grid grid-cols-1 lg:grid-cols-4 gap-6 px-4">
    <div
      id="sideNav"
      class="lg:col-span-3 h-auto w-full flex justify-center items-start shadow-2xl rounded-lg"
      >
      <form id="myForm" class="h-full w-full">
        <div id="input" class="h-full w-full p-6 flex flex-col items-center gap-4">
          <input
            class="h-14 w-5/6 border-gray-300 border-2 p-4 rounded-lg outline-none"
            type="text"
            name="title"
            placeholder="Enter a Title"
            required
          />
          <textarea
            class="min-h-[16rem] w-5/6 border-gray-300 border-2 p-4 rounded-lg resize-none outline-none"
            name="story"
            placeholder="Write your story..."
            required
          ></textarea>
        </div>
      </form>
    </div>

    <div
      id="extraFeatures"
      class="h-auto w-full flex flex-col justify-between shadow-xl rounded-lg p-6"
    >
      <div id="list" class="flex flex-col gap-6">
        <h1 class="font-mono text-2xl font-black">Tags</h1>
        <input
          class="h-12 w-full border-gray-300 border-2 p-4 text-lg rounded-lg"
          type="text"
          name="tags"
          placeholder="Add tags"
        />
      </div>

      <div class="mt-6 flex flex-col gap-4">
        <button id="draftbtn" class="text-center h-12 w-full text-base font-mono font-normal border-none bg-gray-100 text-blue-400 rounded-lg">
          Save draft
        </button>
        <button id="publishbtn" class="text-center h-12 w-full text-base font-mono font-normal border-none bg-blue-400 text-white rounded-lg">
          Publish
        </button>
      </div>
    </div>
  </main>

</div>
