<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>notes adder</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css" integrity="sha512-DxV+EoADOkOygM4IR9yXP8Sb2qwgidEmeqAEmDKIOfPRQZOWbXCzLC6vjbZyy0vPisbH2SyW27+ddLVCN+OMzQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <nav class="h-20 w-full border-y-4 border-indigo-600 pl-8 pr-8 flex justify-between items-center gap-8">
        <h2 class="font-mono">logo</h2>

        <ul class="font-mono h-auto w-auto flex justify-center items-center gap-8">
            <a href="#"><li>home</li></a>
            <a href="#"><li>add</li></a>
            <a href="#"><li>login</li></a>
        </ul>
    </nav>
   <main class="h-full w-full pl-16 pr-16 border-x-4 border-blue-400 flex justify-center items-center">
    <div id="container" class=" flex justify-center items-center w-full pt-16 pb-16">
        <div class="w-1/2">
            <h2 class="text-7xl font-black">Discover and share <br> riyal stories and <br><span class="text-red-400">Baki dilusional story</span> <br> bhi share kr sakte ho :/</h2>
        </div>
        <div class="flex justify-center items-center w-1/2">
            <div class="h-100 w-100 bg-red-300 rounded-full"></div>
        </div>
    </div>
   </main>

    
</body>
</html>