<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login page</title>
</head>
<body>
    <main class="h-screen w-full bg-black flex justify-center items-center">
        <form action="" accept="h-80 w-80 border-2 border-indigo-600">
            <input type="text" placeholder="Username" name="username">
            <input type="email" name="email" placeholder="example@xyz.com">
            <button type="submit">Log in</button>
        </form>
    </main>
</body>
</html>