<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>add new notes</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css" integrity="sha512-DxV+EoADOkOygM4IR9yXP8Sb2qwgidEmeqAEmDKIOfPRQZOWbXCzLC6vjbZyy0vPisbH2SyW27+ddLVCN+OMzQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/style.css">
</head>
<body class="p-8 h-screen">
     <nav class="h-[7rem] w-full border-2 border-gray-100 pl-8 pr-8 flex justify-between items-center gap-8 rounded-t-lg shadow-xl mb-6">
        <div class="h-12 w-140 font-mono font-black text-3xl flex justify-center items-center p-2 rounded-lg">
            <h1>Write your own story</h1>
        </div>




        <div class="font-mono h-auto w-auto flex justify-center items-center gap-6">
            <button id="draftbtn" class=" text-center h-12 w-30 text-base font-mono font-normal border-none bg-gray-100 text-blue-400 rounded-lg"> Save draft</button>
            <button id="publishbtn" class=" text-center h-12 w-30 text-base font-mono font-normal border-none bg-blue-400 text-white rounded-lg"> Publish</button>
        </div>
    </nav>

    

       <main class="h-[calc(100vh - 7rem)] w-full flex justify-center items-center gap-6">
        <div id="sideNav" class="h-140 w-3/4 flex justify-center items-center shadow-2xl">
           <form id="myForm" class="h-full w-full">
             <div id="input" class="h-full w-full p-12 flex flex-col items-center gap-4 ">
                <input class="h-1/6 w-5/6 border-gray-300 border-2 p-8 rounded-lg outline-none" type="text" name="title" placeholder="Enter a Title"  required>
                <!-- <input class="h-2/6 w-5/6 border-gray-300 border-2 p-8 rounded-lg outline-none" type="file" name="file" required> -->
                 <textarea class="h-3/6 w-5/6 border-gray-300 border-2 p-4 rounded-lg resize-none outline-none" name="story" placeholder="Write your story..."  required></textarea>
            </div>
           </form>
        </div>

           

        <div id="extraFeatures" class="h-140 w-1/4 flex justify-center items-center shadow-xl">
            <div id="list" class="h-full w-full p-12 flex flex-col items-flex gap-8">
                <h1 class="font-mono text-2xl font-black">Tags</h1>
               <input class="h-16 w-full border-gray-300 border-2 p-4 text-xl rounded-lg" type="text" name="tags" placeholder="Add tags">
         </div>
        </div>
    </main>
        <script src="/js/newNotes.js"></script>
</body>
</html>