<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>profile</title>
</head>
<body>
    <nav class="h-[7rem] w-full border-2 border-gray-100 pl-8 pr-8 flex justify-between items-center gap-8 rounded-t-lg shadow-xl mb-6">
        <h2 class="font-mono">Nishav</h2>

        <div class="h-12 w-140 bg-gray-100 flex justify-center items-center p-2 rounded-lg">
            <input type="text" placeholder="search" class="h-full w-full outline-none">
            <span><i class="fa-solid fa-magnifying-glass"></i></span>
        </div>

        <ul class="font-mono h-auto w-auto flex justify-center items-center gap-8">
            <a class="text-gray-600 text-2xl" href="http://localhost:6969/login"><i class="fa-solid fa-heart"></i></a>
            <a class="text-gray-600 text-2xl" href="http://localhost:6969/signup"><i class="fa-solid fa-circle-user"></i></a>
        </ul>
    </nav>
    <h2>profile dashboard</h2>
</body>
</html>