<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>signup page</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css" integrity="sha512-DxV+EoADOkOygM4IR9yXP8Sb2qwgidEmeqAEmDKIOfPRQZOWbXCzLC6vjbZyy0vPisbH2SyW27+ddLVCN+OMzQ==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
</head>
<body>
    <main class="h-screen w-full flex flex-col justify-center items-center text-black">
        <form action="/signup" class="p-8 h-auto w-120 border-2 flex flex-col justify-center items-center gap-8 rounded-lg" method="post">
            <input class="h-12 w-full border-grey-400 border-b-2 bg-stone-100 p-4 outline-none rounded-t-lg font-medium" type="text" placeholder="Username" name="username">
            <input class="h-12 w-full border-grey-400 border-b-2 bg-stone-100 p-4 outline-none rounded-t-lg font-medium" type="email" name="email" placeholder="example@xyz.com">
            <input class="h-12 w-full border-grey-400 border-b-2 bg-stone-100 p-4 outline-none rounded-t-lg font-medium" type="password" name="password" placeholder="******">
            <button class="h-12 w-48 bg-black font-medium text-xl text-white p-2 rounded-full" type="submit">Sign Up</button>
        </form>
    </main>
</body>
</html>