  <% for (let post of data) { %>
     <% if (post.user_id == user.user_id) {%>
<div class="bg-gray-50 m-4 p-2 rounded-lg shadow-sm ">

        <div class="flex items-center gap-3">
          <img src="https://via.placeholder.com/40" alt="user" class="w-10 h-10 rounded-full">
          <div>
            <h2 class="font-semibold"><%= user.name %></h2>
            <p class="text-sm text-gray-500"><%= user.username %></p>
          </div>
        </div>
               
            <p class="mt-3 text-gray-800"><%= post.content %></p>
        
      </div>
           <% } %>
              <% } %>